<div style="overflow-x: hidden;">
<div class="row">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <!-- <div class="d-flex justify-content-end"> -->
        <ul class="navbar-nav  mb-2 mb-lg-0 navmar">
          <li class="nav-item">
            <a class="nav-link = navcontent" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navcontent" href="#">Booking</a>
          </li>
          <li class="nav-item navcontent">
            <a class="nav-link navcontent" href="#">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navcontent" href="#">About Us</a>
          </li>
        </ul>

        <form class="d-flex">
          <button class="btn loginBtn" type="submit">Log In</button>
          <button class="btn signUpBtn" type="submit">Sign Up</button>
        </form>
        <!-- </div> -->
      </div>
    </div>
  </nav>
</div>
<div class="row">
  <img src="../assets/Images/Banner image 1.png" width="100%">
</div>
<div class="card container mt-4 p-4 pb-0" style="background-color: #c49ef0;">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <div class="card ">
        <div class="card-title m-0 text-center" style="background-color:#b8b7b9;">
          Location
        </div>
        <!-- <div class="card-body p-0"></div> -->
        <div class="row d-flex justify-content-center">
          <div class="col-md-10">
            <div class="row">
              <img src="../assets/Images/Location.png" class="col-md-3" style="padding-top: 5px;padding-bottom: 5px;">
              <!-- </div> -->
              <div class="col-md-9">
                <select class="form-select">
                  <option value="1">Thailand</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <div class="card ">
        <div class="card-title m-0 text-center" style="background-color:#b8b7b9;">
          Date
        </div>
        <!-- <div class="card-body p-0"></div> -->
        <div class="row d-flex justify-content-center">
          <div class="col-md-10">
            <div class="row">
              <img src="../assets/Images/Calendar.png" class="col-md-3" style="padding-top: 5px;padding-bottom: 5px;">
              <!-- </div> -->
              <div class="col-md-9">
                <select class="form-select">
                  <option value="1">16 Jun 2022</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-2">
      <div class="card ">
        <div class="card-title m-0 text-center" style="background-color:#b8b7b9;">
          People
        </div>
        <!-- <div class="card-body p-0"></div> -->
        <div class="row d-flex justify-content-center">
          <div class="col-md-10">
            <div class="row">
              <img src="../assets/Images/People.png" class="col-md-3" style="padding-top: 5px;padding-bottom: 5px;">
              <!-- </div> -->
              <div class="col-md-9">
                <select class="form-select">
                  <option value="1" disabled selected>2 Peoples</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>

    <div class="col-md-1">
      <img src="../assets/Images/Rectangle 35.png" style="width:130px;margin-top: 10px;"><span
        class="explore">Explore</span>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
  </div>
</div>
<div class="row">
  <span class="text-center popularClass">Our Popular Destinations</span>
</div>
<div class="row mt-2">
  <div class="col-md-3">
    <img src="../assets/Images/Image 1.png" style="width: 100%;">
    <img src="../assets/Images/Rectangle 33.png" class="sliderbutton">
    <span class="slidercurrency">$200</span>
  </div>
  <div class="col-md-3">
    <img src="../assets/Images/Image 2.png" style="width: 100%;">
    <img src="../assets/Images/Rectangle 33.png" class="sliderbutton">
    <span class="slidercurrency">$300</span>
  </div>
  <div class="col-md-3">
    <img src="../assets/Images/Image 3.png" style="width: 100%;">
    <img src="../assets/Images/Rectangle 33.png" class="sliderbutton">
    <span class="slidercurrency">$400</span>
  </div>
</div>
<div class="row">
  <img src="../assets/Images/Banner image 2.png" width="100%">
</div>
<div class="row">
  <span class="text-center popularClass p-4">Our Related Destinations</span>
</div>
<div class="row mt-2">
  <div class="col-md-3">
    <img src="../assets/Images/India.png" style="width:100%">
  </div>
  <div class="col-md-3">
    <img src="../assets/Images/Paris.png" style="width:100%">
  </div>
  <div class="col-md-3">
    <img src="../assets/Images/Singapore.png" style="width:100%">
  </div>
</div>
<div class="row d-flex justify-content-center" *ngIf=Response>
  <div class="col-md-8 pt-4">
  <table class="table table-bordered" style="height: 400px;overflow: scroll;" >
    <thead style="position: sticky;top: 0">
      <tr style="background-color: black; color: white;">
        <th scope="col header">Word</th>
        <th scope="col header">Mark</th>
        <th scope="col header">Pronunciation</th>
        <th scope="col header">Usage</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let data of Response">
        <th>{{data.word}}</th>
        <td>{{data.wordMeaning}}</td>
        <td>{{data.pronunciation}}</td>
        <td>{{data.wordUsage}}</td>
      </tr>
      
    </tbody>
  </table>
</div>
</div>
</div>