.loginBtn{
    margin-right: 20px;
    color: #000;
    border: 1px solid #000;

}
.signUpBtn{
    background-color: #AD66FF ;
    color: #fff;
}
.navcontent{
    color: #000;
}
// .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
//     color: #AD66FF;
//     text-decoration: underline;
// }
// .active a{
//     color: #AD66FF;
//     text-decoration: underline;
// }
ul li a:focus {
    color: #AD66FF;
    font-weight: bold;
    // font-size: 12px;
    text-decoration:underline;
}
// .me-auto {
//      margin-right: 0 !important; 
// }
.navmar{
    margin-left: auto;
}
.explore{
    position: relative;
    left: 38px;
    top: -38px;
    color: #fff;
    font-weight: bold;
}
.popularClass{
    margin-top: 25px;
    color: #000;
    font-size: 18px;
}
.sliderbutton{
    width: 142px;
        position: relative;
        top: -301px;
        left: 161px;
}
.slidercurrency{
    width: 142px;
        position: relative;
        top: -298px;
        left: 76px;
}
.slider1{
    width: 142px;
    position: relative;
    top: -344px;
    left: 205px;
}
.header {
    position: sticky;
    top:0;
}